<h1>Products</h1>
<div>
  <ul style="display:flex;">
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Rice</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$31.63</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Beans</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$16.89</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Fries</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$97.95</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Steak</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$75.24</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
  </ul>
</div>
